@import "variables";

// Работает до 1348
@media screen and (max-width: 900px) {
  main {
    .content {
      padding: 0;

      .product {

        .leftContent {
          .slider {

            ul {
              li {
                margin-bottom: 5px;
                img {
                  width: 38px;
                }
              }
            }
          }
        }

        .rightContent {
          padding: 0 $contentWidthPadding;

          .basketModule {
            .basketActions {
              flex-direction: column;

              .counter {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .content {
      .subscribe {
        justify-content: flex-end;

        > div {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body > header {

  }
  body {
    padding-bottom: 60px;

    > header {
      box-shadow: none;

      .content {
        padding: 10px 22px 0;

        .end {
          .menu {
            li {
              &:last-child {
                display: block;
              }
            }
          }

          #mobileMenu {
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }

  main {

    .content {
      margin-top: 29px;

      .product {
        flex-direction: column;

        .leftContent, .rightContent {
          flex: 1 1 100%;
          margin: 0;
        }

        .leftContent {
          padding: 0;
        }

        .rightContent {
          padding: 0 20px;

          .titleModule,
          .priceModule,
          .productParams,
          .basketModule,
          .productActions {
            padding: 16px 0px;
          }

          .titleModule {
            margin-top: 0;
            padding-top: 8px;
          }

          .priceModule {
            padding-top: 5px;

            .price {
              margin-bottom: 2px;
            }
          }

          .productParams {
            padding-top: 12px;
            form {
              .styled-select {
                min-width: 259px;

                select {
                  min-width: 259px;
                }
              }
            }
          }

          .basketModule {
            padding-bottom: 10px;
            .basketActions {
              .counter {
                margin-bottom: 11px;
              }
            }
            u {
              margin-top: 16px;
            }
          }

          .productActions {
            padding-top: 4px;
          }

        }
      }
    }
  }

  footer {
    margin-top: 20px;
    .content {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;

      .navigation {
        width: 100%;

        section {
          justify-content: flex-start;

          ul {
            li {
              margin-bottom: 6px;
            }
          }
        }
      }

      .subscribe {
        width: 100%;
        justify-content: flex-start;
        margin-top: 49px;

        > div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    .product {

      .rightContent {
        .productParams {
          form {
            select {
              min-width: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
