// Main
$fontFamily: 'Open Sans', sans-serif;
$contentWidthPadding: 26px;


// Colors
$logo: #000000;
$black: #333333;
$grayDark: #828282;
$grayLight: #F2F2F2;
$grayMiddle: #C4C4C4;
$white: #ffffff;

//Colors modal
$modalInput: #FDFCFC;
$modalText: #303030;
$modalBorder: rgba(134, 134, 134, 0.5);