//Main
$fontFamily: 'Roboto', sans-serif

//Colors
$backgroundColor: #212121
$whiteColor: #FFFFFF
$grayColor: #AAAAAA
$backgroundColor2: #121212
$borderColor: #3b3b3b
$black: #000000
$topMenuItemBorderColor: #545454
$backgroundColor3: #0f0f0f

//Component size
$headerHeight: 56px
$asideWidth: 240px
$iconWidth: 40px
$iconHeight: 40px
$searchButtonWidth: 64px
$mainMargin: 0 16px
$-mainMargin: 0 -16px
$-mainMarginLeft: -16px
$asidePaddingLeft: 16px
$asideMini: 72px